@model QuranApp.Infrastructure.PaginatedList<Ayahs>
@using QuranApp.Models
@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quran";
}
<body>
    <div class="web">
        @{
            if (@Model.Any())
            {
                var surahNameList = ViewData["SurahList"] as List<Surahs>;
                var _pageNumber = (int)(ViewData["PageNumber"] ?? 0);
                var juzu = (int)(ViewData["JuzNumber"] ?? 0);
                string basmalah = "";
                var totalSurahPerPage = surahNameList?.Count();
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                var currentPage = (Model.PageIndex == 0 ? 1 : Model.PageIndex);
                var juzText = string.Empty;

                <div class="m-auto" align="center">
                    <h1 style="font-weight: bold;">القرآن الکریم</h1>
                    @if (surahNameList != null)
                    {
                        <div class="quran" data="simple.604" id="quran-tab" style="font-size: 19px;">
                            <div class="quranPageHeader ui-helper-clearfix">
                                <div style="float: left; width: 35%; text-align: left"><span class="suraName">@surahNameList.Last().name</span></div>
                                <div style="float: left; width: 50%; margin-left: -10%">
                                    <a asp-action="FullQuran"
                                       asp-route-pageNumber="@(Model.TotalPages-Model.TotalPages)"
                                       class="btn btn-default @prevDisabled">◄◄</a>
                                    <a asp-action="FullQuran"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       class="btn btn-default @prevDisabled">◄</a>
                                    <strong>@currentPage</strong>
                                    <a asp-action="FullQuran"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       class="btn btn-default @nextDisabled">►</a>
                                    <a asp-action="FullQuran"
                                       asp-route-pageNumber="@(Model.TotalPages)"
                                       class="btn btn-default @nextDisabled">►►</a>
                                </div>
                                <script type="text/javascript">
                                    window.onload = function () {
                                        var a = @juzu;
                                        var b = Array("الاول", "الثاني", "الثالث", "الرابع", "الخامس", "السادس", "السابع", "الثامن", "التاسع", "العاشر");
                                        var f = Array("عشر", "العشرون", "الثلاثون");
                                        var result = "الجزء ";
                                        var finalResult = "";
                                        if (a < 1 || a >= 40)
                                            finalResult =  "";
                                        else if (a <= 10)
                                            finalResult = result + b[a - 1];
                                        else {
                                            var c = a % 10;
                                            var d = parseInt(a / 10);
                                            b[0] = "الحادي";
                                            var e = (c > 0 ? b[c - 1] + (d > 1 ? " و" : " ") : "") + f[d - 1];
                                            finalResult = result + e;
                                        }
                                        var span = document.querySelector('#juzFormatted');
                                        span.textContent = span.textContent.replace('', finalResult);
                                    }
                                </script>
                                <div style="float: right"><span class="juzName" id="juzFormatted"></span> </div>

                            </div>

                            <div class="qFrame qFrameTop"></div>
                            <div class="qFrame qFrameMiddle" id="middleFrame">
                                @foreach (var surah in surahNameList)
                                {
                                    <div class="quranText" id="quranText" style="font-family: hafs; font-size: 1.15em; text-align: justify; direction: rtl;">
                                        <div class="suraHeaderFrame rtl">@surah.name</div>
                                        @{
                                            if (surah.number != 1)
                                            {
                                                basmalah = "ب\u0650س\u0652م\u0650 الل\u0651\u064eه\u0650 الر\u0651\u064eح\u0652م\u064e\u0670ن\u0650 الر\u0651\u064eح\u0650يم\u0650";
                                            }
                                            var ayahBasmalah = string.Empty;
                                            if (@Model.First().numberInSurah > 1)
                                            {
                                                basmalah = null;
                                            }

                                            <div class="ayaText bism">@basmalah</div>
                                        }
                                        @foreach (var ayah in @Model)
                                        {
                                            if (surah.number > 1)
                                            {
                                                //var indexOf = ayah.text.IndexOf("بسم ٱلله ٱلرحمن ٱلرحيم");
                                                var indexOf = "ب\u0650س\u0652م\u0650 ٱلل\u0651\u064eه\u0650 ٱلر\u0651\u064eح\u0652م\u064e\u0670ن\u0650 ٱلر\u0651\u064eح\u0650يم\u0650";
                                                var startsWith = ayah.text.StartsWith("ب\u0650س\u0652م\u0650 ٱلل\u0651\u064eه\u0650 ٱلر\u0651\u064eح\u0652م\u064e\u0670ن\u0650 ٱلر\u0651\u064eح\u0650يم\u0650");
                                                if (startsWith)
                                                    ayah.text = ayah.text.Replace(indexOf, "");
                                            }
                                            if (surah.ayahs.Any(a => a.number == ayah.number))
                                            {
                                                string id = surah.number + "-" + ayah.numberInSurah;
                                                <span id="@id" class="aya"> @ayah.text <span class="ayaNumber" style="font-size: 0.91em;">﴿@ayah.numberInSurah﴾</span></span>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                            <div class="qFrame qFrameBottom"></div>
                            <div class="quranPageFooter">
                                <a asp-action="FullQuran"
                                   asp-route-pageNumber="@(Model.TotalPages-Model.TotalPages)"
                                   class="btn btn-default @prevDisabled">◄◄</a>
                                <a asp-action="FullQuran"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   class="btn btn-default @prevDisabled">◄</a>
                                <strong>@currentPage</strong>
                                <a asp-action="FullQuran"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   class="btn btn-default @nextDisabled">►</a>
                                <a asp-action="FullQuran"
                                   asp-route-pageNumber="@(Model.TotalPages)"
                                   class="btn btn-default @nextDisabled">►►</a>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</body>